@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 255, 255, 255; /* White */
    --foreground: 34, 34, 34; /* Dark Gray */
    --card: 255, 255, 255; /* White */
    --card-foreground: 34, 34, 34; /* Dark Gray */
    --popover: 255, 255, 255; /* White */
    --popover-foreground: 34, 34, 34; /* Dark Gray */
    --primary: 29, 78, 216; /* Indigo */
    --primary-foreground: 255, 255, 255; /* White */
    --secondary: 229, 231, 235; /* Light Gray */
    --secondary-foreground: 34, 34, 34; /* Dark Gray */
    --muted: 243, 244, 246; /* Very Light Gray */
    --muted-foreground: 107, 114, 128; /* Medium Gray */
    --accent: 16, 185, 129; /* Green */
    --accent-foreground: 255, 255, 255; /* White */
    --destructive: 220, 38, 38; /* Red */
    --destructive-foreground: 255, 255, 255; /* White */
    --border: 229, 231, 235; /* Light Gray */
    --input: 229, 231, 235; /* Light Gray */
    --ring: 59, 130, 246; /* Blue */
    --chart-1: 255, 99, 132; /* Red */
    --chart-2: 54, 162, 235; /* Blue */
    --chart-3: 255, 206, 86; /* Yellow */
    --chart-4: 75, 192, 192; /* Teal */
    --chart-5: 153, 102, 255; /* Purple */
    --radius: 0.5rem;
  }
  .dark {
    --background: 17, 24, 39; /* Dark Blue */
    --foreground: 255, 255, 255; /* White */
    --card: 31, 41, 55; /* Darker Blue */
    --card-foreground: 255, 255, 255; /* White */
    --popover: 31, 41, 55; /* Darker Blue */
    --popover-foreground: 255, 255, 255; /* White */
    --primary: 59, 130, 246; /* Blue */
    --primary-foreground: 255, 255, 255; /* White */
    --secondary: 55, 65, 81; /* Dark Gray */
    --secondary-foreground: 255, 255, 255; /* White */
    --muted: 75, 85, 99; /* Medium Gray */
    --muted-foreground: 209, 213, 219; /* Light Gray */
    --accent: 16, 185, 129; /* Green */
    --accent-foreground: 255, 255, 255; /* White */
    --destructive: 220, 38, 38; /* Red */
    --destructive-foreground: 255, 255, 255; /* White */
    --border: 55, 65, 81; /* Dark Gray */
    --input: 55, 65, 81; /* Dark Gray */
    --ring: 59, 130, 246; /* Blue */
    --chart-1: 255, 99, 132; /* Red */
    --chart-2: 54, 162, 235; /* Blue */
    --chart-3: 255, 206, 86; /* Yellow */
    --chart-4: 75, 192, 192; /* Teal */
    --chart-5: 153, 102, 255; /* Purple */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}